body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    transition: 1s;
    background-color: #f5f5f5;
}
header {
    background-color: #8f1818;  
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
main{
    min-height: 45em;
}

#logo{
    font-family: 'Playwrite CU', cursive;
    margin: -10px;
    padding: 0px;
    cursor: pointer;
    
}
#logo a{
    color: #f5f5f5;
    text-decoration: none;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.container {
    text-align:left;
    padding: 0%;
    padding-top: 30px;
    display: flex;
    background-color: #6e0b0b;
    color: #f5f5f5;
    margin-bottom: 50px;
    justify-content:end;
    align-items:start;
}

.container img {
    max-width: 50%;
    height: auto;
    display: flex;


}
.lista{
    position: relative;
    margin-top: -20px;
    margin-right: 5%;
    text-align: center;
    align-items:normal;
    padding-left: 20%;
}

.texto {
    margin-top: 100px;
    text-align: center;
    align-items: center;
    
    margin-left: 10px;
    padding: 50px;

}
.busca {
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
.busca input {
    border: none;
    outline: none;
    padding: 10px;
    flex: 1;
  }
.busca button {
    background-color: #e2e2e2;
    color: #8f1818;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

footer{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    display: grid;
    place-items: center;
    color: #f5f5f5;
    background-color: #8f1818;
    min-height: 3em;
    margin: 0;
}
.menu li a{
    color:#f5f5f5; 
    text-decoration:none; 
    padding:5px 10px; 
    display:block; 
    font-weight: bolder;
}
.menu ul{
    transition: all .5s ease;
}
.menu li ul{
    position:absolute;
    transition: 1s;
    background-color:#8f1818;
    display:none;
    transition:  1s;
    
}
.menu li:hover ul, .menu li.over ul{display:block; }

.menu li ul li{
    transition:  1s;
    color: #8f1818;
    display:block;
    width:150px;
    }
.menu li:hover ul {
    height: auto;
    opacity: 1;
        
}
.accordion {
        background-color: #f5f5f5;
        color: #8f1818;
        cursor: pointer;
        padding: 15px;
        text-align: center;
        border: none;
        outline: none;
        transition: 0.4s;
        width: 500px;
        height: 80px;
        font-size: 18px;
        font-weight: bolder;
        transition: 0.7s;
}
      
.active, .accordion:hover {
        background-color: #8f1818;
        color: #f5f5f5;
}
      
    
.painel {
    padding: 0px;
    background-color: #791212;
    display: none;
    overflow: hidden;
    
}
.painel ul{
    list-style: none;
    text-decoration: none;
}
.painel ul li{
    text-decoration: none;
    color: #f5f5f5;
    font-weight: bold;
    margin: 5px;
}
      
.painel ul li a{
    text-decoration: none;
    color: #f5f5f5;
    font-weight: bold;
    border: radius 1px;
}
      
.accordion:after {
        content: '\02795'; /* Unicode (+) */
        font-size: 18px;
        color: hwb(0 35% 13%);
        float: right;
        margin-left: 5px;
        width: 150px;

        
        
}
      
      .active:after {
        content: "\2796"; /* Unicode (-) */
}
      
    #whiskyInfo{

        margin: 15px;
    }